<launch>

	<arg name="path" default="/home/zakaria/workspace/src/planners_brubotics/maps/Maze2.bt"/>

	<node pkg="octomap_server" type="octomap_server_node" name="octomap_talker" output="screen" args="$(arg path)">
	</node>

	<node pkg="planners_brubotics" type="octoload.py" name="moveit_octomap_handler" output="screen">
	</node>

</launch>
