<launch>
  <arg name="UAV_NAME" default="$(env UAV_NAME)" />
  <group ns="$(arg UAV_NAME)">
    <node name="python_interface" pkg="planners_brubotics" type="python_interface.py" respawn="false" output="screen">
        <param name="uav_name" value="$(arg UAV_NAME)" />
    </node>
  </group>
</launch>
